.about-container {
  padding: 10px;
  color: #333;
}

.about-intro,
.mission,
.why-choose-us,
.testimonials {
  margin-bottom: 0.7rem;
}

.about-container h1,
.about-container h2 {
  font-size: 1.85em;
}

.about-container p {
  font-size: 1.45em;
}

.about-container ul {
  list-style: none;
}

.about-container ul li {
  padding: 6px 0;
  font-size: 1.45em;
}

.testimonials {
  margin-top: 1.5rem;
  text-align: center;
}

#testimonial-list {
  display: block;
}

.testimonial {
  padding: 15px;
  border-radius: 8px;
  margin: 1.5em 0.5em;
  background: #dedede82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-size: 1.55em;
  margin-top: 5px;
  font-weight: bold;
}

@media screen and (min-width: 767px){
  .about-container {
    padding: 20px;
  }
  
  .about-intro, .mission, .why-choose-us, .testimonials {
    margin-bottom: 2rem;
  }
  
 .about-container h1, .about-container h2 {
    font-size: 2.5em;
  }
  
  .about-container p {
    font-size: 2em;
  }
  
  .about-container ul {
    padding: 1rem;
  }
  
  .about-container ul li {
    font-size: 2em;
    padding: 8px 0;
  }
  
  .testimonials {
    margin-top: 3rem;
  }
  
  #testimonial-list {
    gap: 15px;
    display: flex;
    margin-top: 3rem;
  }
  
  .testimonial-author {
    font-size: 1.8em;
    margin-top: 5px;
  }
}