.hero-image {
  border: none;
  height: 330px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(30%) saturate(150%) brightness(0.5);
  background-image: url("/assets/background/mobile.jpg");
}

.hero-txt {
  margin: 10px 15px;
  overflow: visible;
  color: #2d6a4f;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
}

.hero-txt-tagline {
  top: 32%;
  padding: 10px 10px;
  z-index: 100;
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700 !important;
  font-family: "Elms Sans", sans-serif;
}

.hero-txt p {
  font-weight: 500;
}

.hero-btn {
  display: flex;
  align-items: center;
  height: 120px;
  width: 120px;
  bottom: -10px;
  right: -11px;
  position: absolute;
  color: #91a36f;
  font-size: 1.25rem;
  text-align: center;
  background: #fff;
  padding: 4px 10px;
  border-radius: 50%;
  text-decoration: none !important;
  transform: translate(-50%, -50%) rotate(calc(var(--angle) * var(--index)))
    translateY(-100px);
}

.hero-btn-spinner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  background: #91a36f;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-svg {
  position: absolute;
  width: 90px;
  height: 90px;
  overflow: visible;
  animation: spin 10s linear infinite;
  transform-origin: center;
}

.camporia-info-container {
  left: 20px;
  bottom: 10px;
  display: block;
  position: absolute;
}

.camporia-info {
  gap: 1em;
  display: flex;
  color: #fff;
  margin-block: 10px;
  padding: 0.35em;
  align-items: center;
  border-radius: 12.5px;
  background: #2d6a4f;
}

.numerical-info {
  font-size: 0.75em;
  font-family: "Averia Serif Libre", serif;
}

.numerical-info span {
  font-size: 3em;
}

.text-info {
  font-size: 1em;
  text-align: left;
  font-weight: 300 !important;
  font-family: "Elms Sans", sans-serif;
}

.activity-container {
  color: #333;
  background-color: #dedede64;
}

.activity-container h1 {
  padding: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.activity-container h2 {
  font-size: 1.15rem;
}

.activity-container p {
  font-size: 1rem;
}

.activity-container section img {
  width: 47%;
  margin: 0.2rem;
  height: 8rem;
  border-radius: 5px;
}

.activity-section {
  padding: 1rem;
}

@media screen and (min-width: 836px) {
  .hero-image {
    margin-top: 15px;
    height: 400px;
    filter: sepia(30%) saturate(150%) brightness(1);
  }

  .hero-txt {
    margin: 30px;
    font-weight: 700;
    text-align: left;
    font-size: 2rem;
    overflow: visible;
    letter-spacing: 4px;
  }

  .hero-txt-tagline {
    font-size: 1.5rem;
    color: #2d6a4f;
    position: relative;
    font-weight: 400 !important;
  }

  .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -12px;
    right: -15px;
    cursor: pointer;
    font-size: 2rem;
  }

  .spinning-svg {
    width: 90px;
    height: 90px;
  }

  .hero-btn:hover .spinning-svg {
    animation-play-state: paused;
  }

  .hero-btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    width: 130px;
    height: 110px;
    color: #fff;
    background: #91a36f;
  }

  .camporia-info-container {
    gap: 0.8em;
    left: 30px;
    bottom: -30px;
    display: flex;
    justify-content: center;
  }

  .camporia-info {
    gap: 0.25em;
    display: flex;
    color: #fff;
    padding: 0.35em;
    align-items: center;
    border-radius: 12.5px;
    background: #2d6a4f;
  }

  .numerical-info {
    font-size: 0.5em;
  }

  .numerical-info span {
    font-size: 2.75em;
  }

  .text-info {
    font-size: 0.5em;
    font-weight: 600 !important;
  }

  .activity-container h1 {
    padding: 2rem;
    font-size: 2rem;
  }

  .activity-container h2 {
    font-size: 1.5rem;
  }

  .activity-container p {
    font-size: 1.3rem;
  }

  .activity-container section img {
    width: 30%;
    margin: 0.7rem;
    height: 18.75rem;
    transition: transform 0.3s;
  }

  .activity-container section img:hover {
    transform: scale(1.05);
  }

  .activity-section {
    padding: 2rem;
  }
}
