.hero-image {
  border: none;
  height: 400px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(30%) saturate(150%) brightness(0.6);
  background-image: url("/assets/background/mobile.jpg");
}

.hero-txt {
  margin: 10px 15px;
  color: #2d6a4f;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
  position: relative;
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
}

.hero-txt-tagline {
  color: "#2d6a4f";
  font-size: 1rem;
  text-transform: none;
  font-family: "Elms Sans", sans-serif;
  letter-spacing: normal;
}

.hero-txt p {
  font-weight: 500;
}

.hero-btn {
  display: inline-block;
  position: relative;
  color: #91a36f;
  font-size: 1.25rem;
  text-align: center;
  background: #fff;
  padding: 4px 10px;
  border-radius: 50%;
  text-decoration: none !important;
  transform: translate(-50%, -50%) rotate(calc(var(--angle) * var(--index)))
    translateY(-100px);
}

.camporia-info-container {
  gap: 0.8em;
  left: 30px;
  bottom: 180px;
  display: block;
  position: absolute;
}

.camporia-info {
  gap: 1.5em;
  display: flex;
  color: #fff;
  margin-block: 10px;
  padding: 0.35em;
  align-items: center;
  border-radius: 12.5px;
  background: #2d6a4f;
}

.numerical-info {
  font-size: 1em;
  font-family: "Averia Serif Libre", serif;
}
.numerical-info span {
  font-size: 3.5em;
}

.text-info {
  font-size: 1em;
  font-family: "Elms Sans", sans-serif;
}

.activity-container {
  color: #333;
  background-color: #dedede64;
}

.activity-container h1 {
  padding: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.activity-container h2 {
  font-size: 1.15rem;
}

.activity-container p {
  font-size: 1rem;
}

.activity-container section img {
  width: 47%;
  margin: 0.2rem;
  height: 8rem;
  border-radius: 5px;
}

.activity-section {
  padding: 1rem;
}

@media screen and (min-width: 836px) {
  .hero-image {
    margin-top: 15px;
    height: 400px;
  }

  .hero-txt {
    margin: 30px;
    font-weight: 700;
    font-size: 2rem;
    overflow: visible;
    letter-spacing: 4px;
  }

  .hero-txt-tagline {
    font-size: 1.5rem;
  }

  .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: -12px;
    right: -15px;
    cursor: pointer;
    font-size: 2rem;
  }

  .hero-btn-spinner {
    display: "flex";
    position: "relative";
    justify-content: "center";
    align-content: "center";
    align-items: "center";
    font-size: "1rem";
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spinning-svg {
    position: absolute;
    width: 90px;
    height: 90px;
    overflow: visible;
    animation: spin 10s linear infinite;
    transform-origin: center;
  }

  .hero-btn:hover .spinning-svg {
    animation-play-state: paused;
  }

  .hero-btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    width: 130px;
    height: 110px;
    color: #fff;
    background: #91a36f;
  }

  .camporia-info-container {
  gap: 0.8em;
  left: 30px;
  bottom: -30px;
  display: flex;
  position: absolute;
  justify-content: center;
}

.camporia-info {
  gap: 0.25em;
  display: flex;
  color: #fff;
  padding: 0.35em;
  align-items: center;
  border-radius: 12.5px;
  background: #2d6a4f;
}

.numerical-info {
  font-size: 0.5em;
  font-family: "Averia Serif Libre", serif;
}
.numerical-info span {
  font-size: 2.75em;
}

.text-info {
  font-size: 0.5em;
  font-family: "Elms Sans", sans-serif;
}

  .activity-container h1 {
    padding: 2rem;
    font-size: 2rem;
  }

  .activity-container h2 {
    font-size: 1.5rem;
  }

  .activity-container p {
    font-size: 1.3rem;
  }

  .activity-container section img {
    width: 30%;
    margin: 0.7rem;
    height: 18.75rem;
    transition: transform 0.3s;
  }

  .activity-container section img:hover {
    transform: scale(1.05);
  }

  .activity-section {
    padding: 2rem;
  }
}
