.detail-container{
    margin: 1rem; 
    color: #333;
    display: block;
}

.detail-image{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.detail-text{
    width: 100%;
}

.title-campsite{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.detail-p {
    display: flex;
    margin: 0.3rem 0;
    font-size: 1.01rem;
}

.price{
    margin: 0 0.25rem;
}

.detail-btn{
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.25rem 0.7rem;
    background-color: #3a7d5e;
}

.description{
    font-style: italic;
}

.furth_detail{
    display: flex;
    list-style: none;
    margin-top: 1.2rem;
    font-size: 0.9rem;
    justify-content: space-between ;
}

.clock-icon{
    float: left;
    margin: 0.1rem 0.3rem 0.1rem 0;
    height: 1.2rem;
}

.highlight{
    color: #ffab03;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .detail-container{
        margin: 2rem; 
        display: flex;
    }
    
    .detail-image{
        width: 40%;
    }
    
    .detail-text{
        width: 68%;
        margin-left: 5rem;
    }
    
    .title-campsite{
        font-size: 2rem;
    }
    
    .detail-p {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
    
    .price{
        margin: 0 0.5rem;
    }
    
    .detail-btn{
        display: block;
        cursor: pointer;
    }
    
    .furth_detail{
        margin-top: 2rem;
        font-size: 1.2rem;
    }
    
    .clock-icon{
        margin: 0.1rem;
        height: 1.5rem;
    }
}